body {
    background-color: #393E46;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10rem;
    font-family: 'Montserrat', sans-serif;
    color: white
    
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Montserrat', cursive;
  }

img {
    width: 80%;
}

footer > p {
    font-size: 1rem;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin-top: 10rem;
}

.container {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

